.home-container {
    padding: 20px;
  }
  
  
.user-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  .user-actions button {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 5px;
  }
  
  .user-actions button:hover {
    background-color: #0056b3;
  }

  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .table-container {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
  }
  
  .table-header {
    background-color: #007bff;
    color: #fff;
  }
  
  .table-header th,
  .table-row td {
    padding: 10px;
    text-align: left;
  }
  
  .table-row:nth-child(even) {
    background-color: #f2f2f2;
  }
  

  
  @media (max-width: 768px) {
    .user-card {
      padding: 8px;
    }
  
    .user-card p {
      padding: 3px 0;
    }
  
    .user-actions button {
      padding: 4px 8px;
    }
  }
  