.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
  }
  
  .nav-left {
    font-weight: bold;
    font-size: 20px;
  }
  
  .nav-right {
    display: flex;
    align-items: center;
  }
  
  .logout-button {
    background-color: #fff;
    color: #007bff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .logout-button:hover {
    background-color: #ccc;
  }
  